body {
 	background-image: url(Kop.jpg);
	background-position: left bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

header {
    width: 100%;
}

html {
    font-family: 'Bad Comic';
}

h1 {
    font-family: 'Smeshariki 2007 Fixed';
    padding-right: 20px;
    padding-left: 20px;
    color: #b8490a;
    text-stroke: 0.5px #FFFFFF;
    -webkit-text-stroke: 0.5px #FFFFFF;
}

.zagalovok {
    font-size: 50px;
    color: #d0670f;
}

p {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 22px;
    line-height: 1.2;
    color: #561f01;
}

#container { 
    background: rgba(250, 235, 215, 0.9);
    position: relative;
    margin: auto;
    top: 10px;
    width: 1020px;
    height: 100%;
}

#topNubex {
    position: fixed; 
    right: 45px; 
    bottom: 45px; 
    cursor: pointer; 
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}


#navbar ul{
    display: none;
    background-color: rgba(29, 162, 8, 0.7);
    position: absolute;
    top: 100%;
}

#navbar li:hover ul { display: block; }

#navbar, #navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 80px;
    background-color: rgba(208, 103, 15, 0.7);
    padding-right: 25px;
    padding-left: 25px;
    background-image: url("Logo.png");
    background-size: 300px;
    background-position: center left;
    background-repeat: no-repeat;
    font-size: 18px;
}

#navbar li {
    float: right;
    position: relative;
    height: 100%;
}

#navbar li a {
    display: block;
    padding: 22px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#navbar ul li { float: none; }

#navbar li:hover { background-color: rgba(29, 162, 8, 0.7); }

#navbar ul li:hover { background-color: rgba(208, 103, 15, 0.7); }

.img1 {
    float: right;
    margin: 0px 50px 0px 30px;
}
.img2 {
    float: left;
    margin: 10px 20px 10px 20px;
}

span {
    font-family: 'Bad Comic';
    font-size: 23px;
    color: #561f01;
    text-stroke: 0px #FFF;
    -webkit-text-stroke: 0px #FFF;
}